.navbar{
    background-color: #F7C988;
}

.margin{
    padding-top:20px;
    padding-bottom:20px;
}

#sobre-mim{
    background-color: #A69A80;
}
#experiencia{
    background-color: #575144;
}
#conquista{
    background-color: cornsilk;
}